/*КЛАСИ ЕЛЕМЕНТІВ ТЕКСТУ ------------------------------------------------------------------------------------------------------*/
/*? використовується для заголовків розділів*/
.tittle{
    font-size: var(--h2); /*розмір тексту можна змінити туть*/
    font-family: var(--ubuntu-font); /*шрифт можна змінити туть*/
    font-weight: var(--font-weight-bold); /*жирність тексту можна змінити туть*/
    color: var(--color-dark); /*колір тексту можна змінити туть*/
    margin-bottom: 40px;
}

/*? використовується для звичайного тексту всього сайту*/
.usual-text{
    font-size: var(--body); /*розмір тексту*/
    font-family: var(--roboto-font); /*шрифт тексту*/
    font-weight: var(--font-weight-regular); /*жирність тексту (не жирний)*/
    color: var(--color-dark); /*колір тексту*/
}

/*? використовується для футера із контактною інфою та для фрази "тип бізнесу" в банері*/
.usual-text-bold{
    font-size: var(--body); /*розмір тексту*/
    font-family: var(--roboto-font); /*шрифт тексту*/
    font-weight: var(--font-weight-bold); /*жирність тексту (жирний)*/
    color: var(--color-dark); /*колір тексту*/
}

/*? використовується для заголовків карток та для заголовків FAQ секції*/
.label-text{
    font-size: var(--label); /*розмір тексту*/
    font-family: var(--ubuntu-font); /*шрифт тексту*/
    font-weight: var(--font-weight-bold); /*жирність тексту*/
    color: var(--color-dark); /*колір тексту*/
}

/*? використовується для заголовків фактів*/
.accent-text{
    font-size: var(--accent); /*розмір тексту*/
    font-family: var(--ubuntu-font); /*шрифт тексту*/
    font-weight: var(--font-weight-bold); /*жирність тексту*/
    color: var(--color-dark); /*колір тексту*/
}

/*? використовується для першої великої фрази на банері*/
.slogan{
    font-size: var(--h1); /*розмір тексту*/
    font-family: var(--ubuntu-font); /*шрифт тексту*/
    font-weight: var(--font-weight-bold); /*жирність тексту*/
    color: var(--color-dark); /*колір тексту*/
}

/*? використовується для під-слогана на банері*/
.sub-slogan{
    font-size: var(--label); /*розмір тексту*/
    font-family: var(--roboto-font); /*шрифт*/
    font-weight: var(--font-weight-regular); /*жирність*/
    color: var(--color-dark); /*колір тексту*/
    margin-top: 40px;
    margin-bottom: 56px;
}

/*? використовується для останньої фрази футера*/
.small-text{
    font-size: var(--small); /*розмір тексту*/
    font-family: var(--roboto-font); /*шрифт тексту*/
    font-weight: var(--font-weight-regular); /*жирність тексту*/
    color: var(--color-dark); /*колір тексту*/
}

/*? використовується для пунктів меню*/
.menu-text{
    font-family: var(--ubuntu-font); /*шрифт*/
    font-weight: var(--font-weight-bold); /*жирність шрифта*/
    font-size: var(--body); /*розмір шрифта*/
    color: var( --color-dark); /*колір тексту*/
}
/*-----------------------------------------------------------------------------------------------------------------------------*/

/*КЛАСИ, ЯКІ ВИКОРИСТОВУЮТЬСЯ ПО ВСЬОМУ САЙТІ ---------------------------------------------------------------------------------*/
/*?загальний стиль для всіх кнопок*/
.custom-button{
    cursor: pointer;
    font-size: var(--label); /*розмір тексту кнопки можна змінити туть*/
    font-family: var(--ubuntu-font); /*шрифт кнопки можна змінити туть*/
    font-weight: var(--font-weight-bold); /*жирність тексту кнопки можна змінити туть*/
    color: var(--color-light); /*колір тексту можна змінити туть*/
    background-color: var(--color-dark); /*колір самої кнопки можна змінити туть*/
    border: solid; /*задати контур кнопки*/
    border-color: transparent;
    border-width: 4px;
    border-radius: 18px; /*радіус кнопки можна змінити туть*/
    padding: 16px 60px; 
}

/*?загальний стиль для всіх кнопок при наведенні мишкою*/
.custom-button:hover{
    color: var(--color-dark); /*колір тексту можна змінити туть*/
    background-color: transparent; /*колір самої кнопки можна змінити туть*/
    border-color: var(--color-dark);
}

.section-gap{
    margin-top: 100px;
}

.gap-40px{
    margin-bottom: 40px;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/


/*КЛАСИ ДЛЯ НАВІГАЦІЙНОЇ ПАНЕЛІ -----------------------------------------------------------------------------------------------*/
header{
    position: sticky;
    top: 0;
    background: var(--color-light); /*колір фону навігаційної панелі*/
}

.navbar-menu-item:hover {
    color: var(--color-grey-dark); /*колір тексту менюшки при наведенні мишкою*/
}

hr { 
    border-style: solid; /*тип горизонтальної лінії навігаційної панельки*/
    border-width: 2px; /*товщина лінії*/
    border-color: var(--color-grey-dark); /*колір лінії*/
}

.navbar{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
}

.align-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-logo{
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-menu{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navbar-menu-item{
    text-decoration: none;
    padding: 10px 20px;
}

.navbar-icons img{ 
    cursor: pointer;
}

.navbar-icons, .hide{
    display: none;
}

body, header{
    background-color: var(--color-red);
}
/*-----------------------------------------------------------------------------------------------------------------------------*/

/*КЛАСИ ДЛЯ СЕКЦІЇ 1 - БАНЕР --------------------------------------------------------------------------------------------------*/
.section-1{
    background-color: var(--color-pink); /*задній колір фону банера*/
    border-radius: 40px; /*заокругленість кутів фону банера*/
    margin: 60px 0 100px 0;
    padding: 80px 40px;
}

.image-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/

/* КЛАСИ ДЛЯ СЕКЦІЇ 2 - ПРО НАС -----------------------------------------------------------------------------------------------*/
.card-section-2{
    background-color: var(--color-pink); /*колір карток можна змінити туть*/
    border-radius: 22px; /*заокругленість кутів картки*/
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px; 
}

.section-2-cards-container{
    margin-top: -24px;
}

.gaps-for-card{
    margin-top: 24px;
}

.fit-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 20px;
}

.image-about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/

/* КЛАСИ ДЛЯ СЕКЦІЇ 3 - ЦІННОСТІ ----------------------------------------------------------------------------------------------*/
/*? немає окремих класів для цього розділу*/
/*-----------------------------------------------------------------------------------------------------------------------------*/

/* КЛАСИ ДЛЯ СЕКЦІЇ 4 - ФАКТИ -------------------------------------------------------------------------------------------------*/
.section-4-container{
    background-color: var(--color-pink); /*колір заднього фону секції*/
    padding: 60px 0 80px 0;
}

.card-tittle-section-4{
    color: var(--color-dark); /*колір тексту заголовків фактів*/
    text-align: center;
    margin-top: 40px;
}

.card-content-section-4{
    padding: 0 30px;
    text-align: center;
    margin-top: 24px;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/

/* КЛАСИ ДЛЯ СЕКЦІЇ 5 - КОМАНДА -----------------------------------------------------------------------------------------------*/
.card-section-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.name-box{
    background-color: var(--color-pinkl); /*колір заднього фону для імені*/
    padding: 16px 20px;
    width: 100%;
    border-radius: 16px;
}

.position-box{
    padding: 24px;
}

.member-box{
    background-color: var(--color-pink); /*колір заднього фону позиції*/
    border-radius: 16px;
    width: 100%;
    align-self: center;
}

.gap-24px{
    margin-top: 24px;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/


/* КЛАСИ ДЛЯ СЕКЦІЇ 6 - ЗВ'ЯЗОК -----------------------------------------------------------------------------------------------*/
.btn-align{
    margin-top: 60px;
    display: flex;
    flex-direction: column;   
    align-items: center;
}

.image-align{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-6{
    background-color: var(--color-pink); /*колір заднього фону секції*/
    padding: 60px 0;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/


/* КЛАСИ ДЛЯ СЕКЦІЇ 7 - FAQ --------------------------------------------------------------------------------------------------*/
.faq-section {
    max-width: 100%;
}

.faq-padding{
    padding: 26px 40px;
}

.arrow-padding{
    padding: 20px 40px 20px 20px;
}

.arrow-icon{
    height: 40px;
    width: 40px;
}

details {
    margin-bottom: 40px; 
    overflow: hidden;
}

summary {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    cursor: pointer; 
    list-style: none; 
    user-select: none;
    background-color: var(--color-pink); /* Задній колір шапки відкриваючого списку можна задати тут */
    border-radius: 18px; /* заокруглення кутів можна задати тут */
}

summary::-webkit-details-marker {
    display: none;
}

.opened-content {
    background-color: transparent; /* Задній колір можна задати тут */
    padding: 40px;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/


/* КЛАСИ ДЛЯ ФУТЕРА -----------------------------------------------------------------------------------------------------------*/
.center-footer{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

footer{
    background-color: var(--color-pink); /*змінити задній колір футера можна туть*/
    padding: 40px 0;
}

.gap-20px{
    margin-bottom: 20px;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/